.popup__bg
{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;
}

.popup__bg-active
{
    opacity: 1;
    pointer-events: all;
    transition: 0.5s;
}

.popup
{
    position: absolute;
    top: 50%;
    left: 50%;
    background: #fff;
    transform: translate(-50%, -50%) scale(0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 640px;
    padding: 0 80px 92px;
    max-height: 847px;
    border-radius: 10px;
    transition: 0.5s;
}

.popup-active
{
    transform: translate(-50%, -50%) scale(1);
    transition: 0.5s;
}

.popup__close
{
    position: absolute;
    width: 20px;
    height: 20px;
    top: 15px;
    right: 20px;
}

.popup__error
{
    font: 500 36px/120% 'Montserrat';
    padding-top: 302px;
    padding-bottom: 502px;
}