.theme
{
  font: 700 30.8354px/122.33% 'Montserrat'; 
}
.pink
{
  color:#EE58B6;
}
.button
{
  height: 55px;
  box-sizing: border-box;
  background-color: #05090C;
  border-radius: 4.59px;
}
.small_button
{
  width: 247px;
}
.long_button
{
  width: 332px;
}
.text_button_style
{
  font: 600 16px 'Montserrat';
  color: #fff;
}
.none_decoration
{
  list-style-type: none;
}
.navigation
{
  font: 500 16px 'Montserrat';
}
.mavrodi_style
{
  width: 762px;
  height: 636.87px;
}
.main_text
{
  font: 600 100px 'Montserrat';
}
.after_main_text
{
  font: 400 26px/1.2 'Roboto Condensed';
  color: rgba(0, 0, 0, 0.7);
}
.purposes
{
  color: #fff;
  background-color: #000;
  font: 400 22px/1.2 'Roboto Condensed';
}
.size
{
  width: 60px;
  height: 60px;
}
.clock_text
{
  width: 285px;
  height: 132px;  
}
.notebook_text
{
  width: 337px;
  height: 132px;  
}
.target_text
{
  width: 293px;
  height: 132px;  
}
.course_heading_content
{
  font: 500 48px/60.51px 'Montserrat';
}
.course_text_content
{
  font: 400 18px/1.35 'Roboto Condensed';
  width: 574px;
  height: 44px;
}
.finance_img
{
  width: 510px;
  height: 476px;
}
.mind_blowing_img
{
  width: 376.88px;
  height: 621.79px;
}
.course_features
{
  font: 500 48px/58.51px 'Montserrat';  
}
.feature
{
  background-color: #000;
  border-radius: 7.35723px;
  width: 358px;
  height: 190px;
  margin: 10px;
}
.feature_text
{
  font: 400 18px/21px 'Roboto Condensed';
  color: #fff;
}
.footer_decoration
{
  background-color: #000;
  width: 1920px;
  height: 108px;
  box-sizing: border-box;
  padding: 10px 840px 10px 877px;
}
.footer_text
{
  font: 700 30px 'Montserrat';
  color: #fff;
}